header{
	background: #a6a6a6;
}

h1{
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
}

a{
	color: #000000;
	background-color: #bfbfbf;
}

main{
	background: #808080;
}

aside {
	display: none;
}

h2 {
	color: #000099;
	text-transform: uppercase;
}
